import React from 'react';
{{#if styled}}import { Container } from './{{properCase name}}.styles.js';{{/if}}

const {{properCase name}} = ({ {{#each props as |prop|}}{{prop.name}}{{#unless prop.isRequired}}= null{{/unless}},{{/each}} }: Props ) => {
return(
{{#if styled}}
    <Container>
        {{name}}
    </Container>

{{else}}
    <div>
        {{name}}
    </div>
{{/if}}
);
};


interface Props {
{{#each props as |prop|}}
    {{prop.name}}{{#unless prop.isRequired}}?{{/unless}}: {{prop.type}},
{{/each}}
};

export default {{ properCase name }};